<template>
  <div class="acc">
    <h1>Hello {{ getUser.name }}</h1>
    <md-button class="md-raised md-primary" @click="logOt">Log Out</md-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: mapGetters(['getUser']),
  mounted() {
    if (this.getUser.name == undefined) {
      this.$router.push('/log-in');
    }
  },
  methods: {
    logOt() {
      this.$store.dispatch('logOut');
    },
  },
};
</script>
