<template>
  <form class="log-in container" @submit.prevent="logIn">
    <md-card class="md-layout-item">
      <md-field>
        <label>Login</label>
        <md-input v-model.trim="login" type="text"></md-input>
      </md-field>
      <md-field>
        <label>Password</label>
        <md-input v-model.trim="password" type="password"></md-input>
      </md-field>
      <md-content v-if="!getErrors.status" class="md-accent">{{
        getErrors.errors
      }}</md-content>
      <p class="sub-pg">
        If you not have an account
        <router-link to="/" class="sub-sp">register</router-link>
      </p>
      <md-card-actions>
        <md-button type="submit" class="md-raised md-primary">Log In</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
  data() {
    return {
      login: '',
      password: '',
    };
  },
  computed: {
    ...mapGetters(['getUser', 'getErrors']),
  },
  mounted() {
    this.$store.dispatch('logined');
  },
  methods: {
    logIn() {
      this.$store.dispatch('logIn', [this.login, this.password]);
    },
  },
};
</script>
