<template>
  <form novalidate class="md-layout" @submit.prevent="register">
    <md-card class="md-layout-item">
      <md-field>
        <label>Login</label>
        <md-input v-model.trim="login"></md-input>
      </md-field>
      <div v-if="getRegErrors.errors">
        <md-content
          v-for="i in getRegErrors.errors.login"
          :key="i"
          class="md-accent"
          >{{ i }}</md-content
        >
      </div>
      <md-field>
        <label>Password</label>
        <md-input v-model.trim="pass" type="password"></md-input>
      </md-field>
      <div v-if="getRegErrors.errors">
        <md-content
          v-for="i in getRegErrors.errors.password"
          :key="i"
          class="md-accent"
          >{{ i }}</md-content
        >
      </div>
      <md-field>
        <label>Confirm password</label>
        <md-input v-model.trim="confirm" type="password"></md-input>
      </md-field>
      <div v-if="getRegErrors.errors">
        <md-content
          v-for="i in getRegErrors.errors.confirm"
          :key="i"
          class="md-accent"
          >{{ i }}</md-content
        >
      </div>
      <md-field>
        <label>Email</label>
        <md-input v-model.trim="email"></md-input>
      </md-field>
      <div v-if="getRegErrors.errors">
        <md-content
          v-for="i in getRegErrors.errors.email"
          :key="i"
          class="md-accent"
          >{{ i }}</md-content
        >
      </div>
      <md-field>
        <label>Name</label>
        <md-input v-model.trim="name"></md-input>
      </md-field>
      <div v-if="getRegErrors.errors">
        <md-content
          v-for="i in getRegErrors.errors.name"
          :key="i"
          class="md-accent"
          >{{ i }}</md-content
        >
      </div>
      <p class="sub-pg">
        If you have an account
        <router-link to="/log-in" class="sub-sp">sign in</router-link>
      </p>
      <md-card-actions>
        <md-button type="submit" class="md-raised md-primary"
          >Register</md-button
        >
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  data() {
    return {
      name: '',
      pass: '',
      confirm: '',
      email: '',
      login: '',
    };
  },
  computed: {
    ...mapGetters(['getUser', 'getRegErrors']),
  },
  mounted() {
    this.$store.dispatch('logined');
  },
  methods: {
    register() {
      this.$store.dispatch('register', [
        this.login,
        this.pass,
        this.confirm,
        this.email,
        this.name,
      ]);
    },
  },
};
</script>
