<template>
  <div id="app">
    <div id="nav">
      <router-link to="/"></router-link>
      <router-link to="/log-in"></router-link>
      <router-link to="/account"></router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 140px;
}
span {
  color: #448aff;
  cursor: pointer;
}
span:hover {
  text-decoration: underline;
}
.md-card {
  padding: 50px;
}
.md-content {
  border: 1px solid #fff;
  border-radius: 4px;
}
</style>
